<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>

<style>
    .titulo{
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .table{
        border-color: black;
        width: 950px;
        justify-content: center;
        border-radius: 30px;
    }

    
</style>

<body>
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-8">
            
            <h1 class="titulo">Tabla Productos</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">REFERENCIA</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">DESCRIPCION</th>
            <th scope="col">PRECIO</th>
            <th scope="col">STOCK</th>
            <th scope="col">HABILITADO</th>
            <th scope="col">ACCIONES</th>
            <th scope="col">imagen</th>


            


        </tr>
        </thead>
        <tbody>
            <%producto.forEach(function(elemento){%>
                <tr>
                    <td>
                        <%=elemento.referencia%>
                    </td>
                    <td>
                        <%=elemento.nombre%>
                    </td>
                    <td>
                        <%=elemento.descripcion%>
                    </td>
                    <td>
                        <%=elemento.precio%>
                    </td>
                    <td>
                        <%=elemento.stock%>
                    </td>
                    <td>
                        <%=elemento.habilitado%>
                    </td>
                    <td>
                        <%=elemento.imagen%>
                    </td>
                    <td>
                        <button type="button" class="button button1" data-toggle="modal" onclick="llenarformulario(`<%=elemento.referencia %>`, `<%=elemento.nombre %>`,`<%=elemento.descripcion%>`, `<%=elemento.precio%>`,`<%=elemento.stock%>`,`<%=elemento.imagen%>`,`<%=elemento.habilitado%>`, `<%=elemento.imagen%>` )" data-target="#update">Actualizar</button>
                        <a href="eliminar/<%=elemento.nombre%>" class="button btn-success">eliminar</a>
                    </td>
                    
                </tr>
                    
            <%})%>
        </tbody>

                <!-- Button to Open the Modal -->


<!-- The Modal -->
<div class="modal fade" ="update">
    <div class="modal-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
        <h4 class="modal-title">Modificación</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">

            <form action="actualizar" method="post">
                <div class="form-group">
                    <label for="text">referencia</label>
                    <input type="text" class="form-control" id="actualizarreferencia" name="referenciaactualizar"  placeholder="referencia"  >
                </div>
                <div class="form-group">
                    <label for="text">nombre</label>
                    <input type="text" class="form-control" id="actualizarnombre" name="nombre" placeholder="nombre">
                </div>
                <div class="form-group">
                    <label for="text">descripcion</label>
                    <input type="text" class="form-control" id="actualizardescripcion" name="descripcion" placeholder="descripcion">
                </div>
                <div class="form-group">
                    <label for="text">precio</label>
                    <input type="text" class="form-control" id="actualizarprecio" name="precio" placeholder="precio">
                </div>
                <div class="form-group">
                    <label for="text">stock</label>
                    <input type="text" class="form-control" id="actualizarstock" name="stock" placeholder="stock">
            </div>
            <div class="form-group">
                <label for="text">habilitado</label>
                <input type="text" class="form-control" id="actualizarhabilitado" name="habilitado" placeholder="habilitado">
            </div>
            <div class="form-group">
                <label for="text">imagen</label>
                <input type="text" class="form-control" id="actualizarimagen" name="imagen" placeholder="imagen">
            </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </form>
        
            
        </div>
        

        
    </div>
    </div>
</div>


    </table>




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
        function llenarformulario(referencia, nombre, descripcion, precio, stock, imagen, habilitado ){
            actualizarreferencia.value=referencia;
            actualizarnombre.value=nombre;
            actualizardescripcion.value=descripcion;
            actualizarprecio.value=precio;
            actualizarstock.value=stock;
            actualizarhabilitado.value=habilitado;


        }

    </script>

    <a href=""></a>

</body>
</html>