<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
    <style>
        .titulo{
            text-align: center;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .table{
            border-color: black;
            width: 950px;
            justify-content: center;
            border-radius: 30px;
        }

        
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
        <div class="col-8">

    <h1 class="titulo">Tabla USUARIOS</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">NOMBRE</th>
            <th scope="col">DOCUMENTO</th>
            <th scope="col">TELEFONO</th>
            <th scope="col">EMAIL</th>
            <th scope="col">ROL</th>


        </tr>
        </thead>
        <tbody>
            <%usuario.forEach(function(elemento){%>
                <tr>
                    <td>
                        <%=elemento.nombre%>
                    </td>
                    <td>
                        <%=elemento.documento%>
                    </td>
                    <td>
                        <%=elemento.telefono%>
                    </td>
                    <td>
                        <%=elemento.email%>
                    </td>
                    <td>
                        <%=elemento.rol%>
                    </td>
                    <td>
                        <button type="button" class="button button1" data-toggle="modal" onclick="llenar(`<%=elemento.nombre%>`, `<%=elemento.documento %>`,`<%=elemento.telefono%>`,`<%=elemento.email%>`,`<%=elemento.rol%>`)" data-target="#update">Actualizar</button>
                        <a href="eliminarvendedor/<%=elemento._id%>" class="button btn-success">eliminar</a>
                    </td>
                    
                </tr>
                    
            <%})%>
        </tbody>

        
                <!-- Button to Open the Modal -->


<!-- The Modal -->
<div class="modal fade" id="update">
    <div class="modal-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
        <h4 class="modal-title">Modificación</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">

            <form action="actualizarvendedor" method="post">
                <div class="form-group">
                    <label for="text">ID</label>
                    <input type="text" class="form-control" id="actualizaridc" name="idactualizar" placeholder="id" readonly>
                </div>
                <div class="form-group">
                    <label for="text">nombre</label>
                    <input type="text" class="form-control" id="actualizarnombre" name="nombre"  placeholder="nombre"  >
                </div>
                <div class="form-group">
                    <label for="text">documento</label>
                    <input type="text" class="form-control" id="actualizardocumento" name="documento" placeholder="documento">
                </div>
                <div class="form-group">
                    <label for="text">telefono</label>
                    <input type="text" class="form-control" id="actualizartelefono" name="telefono" placeholder="telefono">
                </div>
                <div class="form-group">
                    <label for="text">email</label>
                    <input type="email" class="form-control" id="actualizaremail" name="email" placeholder="email">
                </div>
                <div class="form-group">
                    <label for="text">rol</label>
                    <input type="" class="form-control" id="actualizarrol" name="rol" placeholder="rol">
                </div>
            
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>


    </table>
 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
        function llenar(idc, nombre, documento, telefono, email, rol){
            actualizaridc.value = id;
            actualizarnombre.value=nombre;
            actualizardocumento.value=documento;
            actualizartelefono.value=telefono;
            actualizaremail.value=email;
            actualizarrol.value=rol;


        }

    </script>
</body>
</html>